<div class="notification is-{{ modifier }}">
  <button class="delete"></button>
  {{ message }}
  {{> _sub }}
  {{> _subHello }}

  <p>Veniam voluptate qui incididunt ullamco id ut ullamco aute et eu irure Lorem officia adipisicing.</p>
</div>